<template>
    <div class="row my-4 d-flex justify-content-center">
        <div class="col-md-12 col-lg-6 col-xl-7 p-4 text-center" style="background-color: white; z-index: 10">
            <h1>Marketing Plan Calculator</h1>
            <form>
                <!-- Your First Name -->
                <div class="form-group">
                    <label for="firstName">Your First Name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="Is it Dave?" v-model="firstName">
                </div>

                <!-- Marketing Budget -->
                <div class="form-group my-4">
                    <label for="marketingBudget">Monthly Marketing Budget</label>
                    <div v-if="marketingBudget.active">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input
                                id="marketingBudget"
                                class="form-control"
                                type="number"
                                placeholder="What is your budget?"
                                v-model="marketingBudget.input"
                                :min="marketingBudget.range.min"
                                :max="marketingBudget.range.max"
                                ref="marketingBudget"
                                @blur="deactivate(marketingBudget)"
                                @keydown.enter="deactivate(marketingBudget)"
                            >
                        </div>
                    </div>
                    <div
                        v-else
                        @click="activate(marketingBudget)"
                    >
                        <h2 class="text-primary">${{marketingBudget.input | number}}</h2>
                    </div>
                    <div class="range">
                        <input
                            class="custom-range my-4"
                            type="range"
                            v-model="marketingBudget.input"
                            :min="marketingBudget.range.min"
                            :max="marketingBudget.range.max"
                            :step="marketingBudget.range.step"
                        >
                    </div>
                </div>

                <!-- Monthly Leads -->
                <div class="form-group my-4">
                    <label for="monthlyLeads">Monthly Leads</label>
                    <div v-if="monthlyLeads.active">
                        <input
                            id="monthlyLeads"
                            class="form-control"
                            type="number"
                            placeholder="How many leads do you get a month?"
                            v-model="monthlyLeads.input"
                            :min="monthlyLeads.range.min"
                            :max="monthlyLeads.range.max"
                            ref="monthlyLeads"
                            @blur="deactivate(monthlyLeads)"
                            @keydown.enter="deactivate(monthlyLeads)"
                        >
                    </div>
                    <div
                        v-else
                        @click="activate(monthlyLeads)"
                    >
                        <h2 class="text-primary">{{monthlyLeads.input | number}}</h2>
                    </div>
                    <input
                        class="custom-range my-4"
                        type="range"
                        v-model="monthlyLeads.input"
                        :min="monthlyLeads.range.min"
                        :max="monthlyLeads.range.max"
                        :step="monthlyLeads.range.step"
                    >
                </div>

                <!-- Average House Price -->
                <div class="form-group my-4">
                    <label for="averageHousePrice">Average House Price</label>
                    <div v-if="averageHousePrice.active">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input
                                id="averageHousePrice"
                                class="form-control"
                                type="number"
                                placeholder="How much do your houses sell for?"
                                v-model="averageHousePrice.input"
                                :min="averageHousePrice.range.min"
                                :max="averageHousePrice.range.max"
                                ref="averageHousePrice"
                                @blur="deactivate(averageHousePrice)"
                                @keydown.enter="deactivate(averageHousePrice)"
                            >
                        </div>
                    </div>
                    <div
                        v-else
                        @click="activate(averageHousePrice)"
                    >
                        <h2 class="text-primary">${{averageHousePrice.input | number}}</h2>
                    </div>
                    <input
                        class="custom-range my-4"
                        type="range"
                        v-model="averageHousePrice.input"
                        :min="averageHousePrice.range.min"
                        :max="averageHousePrice.range.max"
                        :step="averageHousePrice.range.step"
                    >
                </div>

                <!-- Monthly Transactions -->
                <div class="form-group my-4">
                    <label for="monthlyTransactions">Monthly Transactions</label>
                    <div v-if="monthlyTransactions.active">
                        <input
                            id="monthlyTransactions"
                            class="form-control"
                            type="number"
                            placeholder="How many sales do you do in a month?"
                            v-model="monthlyTransactions.input"
                            :min="monthlyTransactions.range.min"
                            :max="monthlyTransactions.range.max"
                            ref="monthlyTransactions"
                            @blur="deactivate(monthlyTransactions)"
                            @keydown.enter="deactivate(monthlyTransactions)"
                        >
                    </div>
                    <div
                        v-else
                        @click="activate(monthlyTransactions)"
                    >
                        <h2 class="text-primary">{{monthlyTransactions.input | number}}</h2>
                    </div>
                    <input
                        class="custom-range my-4"
                        type="range"
                        v-model="monthlyTransactions.input"
                        :min="monthlyTransactions.range.min"
                        :max="monthlyTransactions.range.max"
                        :step="monthlyTransactions.range.step"
                    >
                </div>

            </form>

            <!-- <button class="btn btn-primary btn-large" @click="toggleCalculator">Calculate</button> -->
        </div>

        <!--|========================================================
            | Calculation
            |======================================================-->

        <div :class="{hidden : !showCalculator}" class="col-md-12 col-lg-6 col-xl-5 p-4 text-light text-center" style="background-color:#101c2a;transition: all 0.3s ease;">
            <h2>{{calcultionHeader}}</h2>
            <ul class="list-group list-group-flush ">
                <li class="list-group-item py-4" style="background: transparent;">Average Commission:<br><h2 style="color:#fd7e15;">${{commission | number}}</h2></li>
                <li class="list-group-item py-4" style="background: transparent;">Cost per Lead:<br><h2 style="color:#fd7e15;">${{leadCost | number}}</h2></li>
                <li class="list-group-item py-4" style="background: transparent;">Annual Raw Leads:<br><h2 style="color:#fd7e15;">{{rawLeads | number}}</h2></li>
                <li class="list-group-item py-4" style="background: transparent;">Average Conversion Rate:<br><h2 style="color:#fd7e15;">{{conversionRate}}%</h2></li>
                <li class="list-group-item py-4" style="background: transparent;">Annual Gross Commission:<br><h2 style="color:#fd7e15">${{annualCommission|number}}</h2></li>
            </ul>
            <h3>Our Conversion Improvement</h3>
            <div style="overflow-x: auto">
                <table class="table table-dark" style="background-color: transparent;">
                    <thead>
                        <tr>
                            <th></th>
                            <th><p>1%</p></th>
                            <th><p>2%</p></th>
                            <th><p>3%</p></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Extra <br>Sales</th>
                            <td><h5 style="color:#fd7e15">{{ Math.round((percentage(rawLeads, 1) * 100) / 100) }}</h5></td>
                            <td><h5 style="color:#fd7e15">{{ Math.round((percentage(rawLeads, 2) * 100) / 100) }}</h5></td>
                            <td><h5 style="color:#fd7e15">{{ Math.round((percentage(rawLeads, 3) * 100) / 100) }}</h5></td>
                        </tr>
                        <tr>
                            <th>Extra <br> Commission</th>
                            <td><h5 style="color:#fd7e15">${{ Math.round((rawLeads * 0.01) * commission * 100) /100 |number }}</h5></td>
                            <td><h5 style="color:#fd7e15">${{ Math.round((rawLeads * 0.02) * commission * 100) /100 |number }}</h5></td>
                            <td><h5 style="color:#fd7e15">${{ Math.round((rawLeads * 0.03) * commission * 100) /100 |number }}</h5></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>


<script>
export default {
    data() {
        return {
            showCalculator: true,
            firstName: '',
            marketingBudget: {
                input: 0,
                active: false,
                range: {
                    min: 0,
                    max: 50000,
                    step: 100,
                }
            },
            monthlyLeads: {
                input: 0,
                active: false,
                range: {
                    min: 0,
                    max: 1000,
                    step: 10,
                }
            },
            monthlyTransactions: {
                input: 0,
                active: false,
                range: {
                    min: 0,
                    max: 50,
                    step: 1,
                }
            },
            averageHousePrice: {
                input: 0,
                active: false,
                range: {
                    min: 0,
                    max: 5000000,
                    step: 1000,
                }
            },
        }
    },

    filters: {
        number(n) {
            if(isNaN(n))
            {
                return 0;
            }
            return n.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        }
    },

    methods: {
        percentage(n, rate) {
            return Math.round(((n / 100) * rate) * 100 ) / 100;
        },
        activate(target) {
            target.active = true;
            console.log(event);
            // this.$refs.marketingBudget.focus();
        },
        deactivate(target) {
            target.active = false;
        },
        toggleCalculator() {
            this.showCalculator = !this.showCalculator;
        },
    },

    computed: {
        calcultionHeader() {
            let greeting = 'Your';
            if(this.firstName) {
                greeting = this.firstName + "'s";
            }
            return greeting + ' 12 Month Business Plan';
        },
        commission() {
            let commission = 0;
            let rate = 2.5;
            if(this.averageHousePrice.input) {
                commission = this.percentage(this.averageHousePrice.input, rate);
            }
            return commission;
        },
        leadCost() {
            let leadCost = 0;
            if(this.marketingBudget.input !== 0 && this.monthlyLeads.input !== 0) {
                leadCost = this.marketingBudget.input / this.monthlyLeads.input;
            }
            return Math.round(leadCost * 100) / 100;
        },
        rawLeads() {
            let rawLeads = 0;
            if(this.monthlyLeads.input){
                rawLeads = this.monthlyLeads.input * 12;
            }
            return rawLeads;
        },
        conversionRate() {
            let conversionRate = 0;
            if(this.monthlyTransactions.input) {
                conversionRate = this.monthlyTransactions.input * 12 / this.rawLeads;
            }
            return Math.round(conversionRate*10000) / 100;
        },
        annualCommission() {
            let annualCommission = 0;
            if (this.monthlyTransactions.input) {
                annualCommission = (this.monthlyTransactions.input * 12) * this.commission;
            }
            return Math.round(annualCommission);
        }
    }
}
</script>

<style>
    .hidden {
        transform: translateX(-100%);
        overflow: hidden;
    }
</style>
