.Footer
    display: flex
    flex: 1
    height: 20em
    align-items: flex-end
    justify-content: center
    flex: 1
    position: relative
    .Footer__image
        display: flex !important
        flex: 1
        height: 100%
        background-image: url('/img/footer.png')
        background-size: cover
        background-repeat: no-repeat
        background-position: center

    .Footer__body
        position: absolute
        text-align: center
        color: white
        margin: 0
        bottom: 6px

        p
            margin-bottom: 0
        a
            color: white
