.Panel
    background: $gray-200
    padding: 10px
    border: 1px solid $gray-300
    font-size: .8em
    display: flex
    font-weight: bold
    +media-breakpoint-up(md)
        justify-content: space-between

    span
        width: 100%
        padding: 10px
        +media-breakpoint-up(md)
            width: auto
            padding: 0
