.Pricing
    .Price__card
        display: flex
        flex-direction: column
        position: relative
        background: $white
        padding: 40px 20px
        border-bottom: 2px solid $gray-400
        border-radius: 6px 6px 2px 2px
        overflow: hidden
        transition: all .2s ease
        margin: 10px 0

        &:hover
            transform: scale(1.01)
            box-shadow: 0px 14px 24px rgba(0,0,0,0.2)
            .Pricing__header:before
                color: $gray-200

    .Pricing__header
        position: relative
        text-align: center
        letter-spacing: 4px
        padding: 20px 0
        color: $gray-900
        z-index: 1
        font-size: 2.5em
        &:before
            position: absolute
            z-index: -1
            content: attr(data-text)
            top: -25%
            left: -50%
            right: -60%
            font-size: 2.7em
            color: $gray-100
            letter-spacing: 20px
            transition: color .5s ease
    .Pricing__body
        flex: 1
        text-align: center
        list-style: none
        padding: 0
    .Pricing__info_label
        position: absolute
        top: 0
        right: 0
        width: 40px
        height: 40px
        border-top: 20px solid $red-orange
        border-right: 20px solid $red-orange
        border-left: 20px solid transparent
        border-bottom: 20px solid transparent
        color: $white
        line-height: 0
        text-align: right
        span
            font-family: 'Playfair Display', serif
            position: absolute
            top: -6px
            right: -10px

    .Price
        display: flex
        justify-content: center
        align-items: center
        color: $gray-600
        padding: 20px 0

    .Price__number
        font-size: 2em
        color: $gray-900
        font-weight: 800
        padding: 0 3px
