.btn
    text-transform: uppercase
    font-weight: bold
    font-size: .8em
    padding-left: 2em
    padding-right: 2em
    letter-spacing: 1px
    cursor: pointer

    &-primary,
    &-primary:hover
        color: white
    &-lg
        font-size: 1em

.btn.is-rounded
    border-radius: 100px


