.card
    background: $white
    border: none
    &::before,
    &::after
        content: ""
        display: table
        clear: both

    &.is-featured
        width: 100%
        height: auto
        margin-bottom: -100px

        .row
            margin-left: 0
            margin-right: 0
            margin-bottom: 0
            flex-direction: row
    .card-columns &
        margin-bottom: 2.35rem
        margin-top: 0.75rem

.card-columns
    +media-breakpoint-only(sm)
        column-count: 2
    +media-breakpoint-up(md)
        column-count: 3


.card-contact
    width: 120px
    margin: 20px auto
