$gradients: (orangeprimary: ($orange, $red-orange) ) !default;
@function capitalize($string)
  @return to-upper-case(str-slice($string, 1, 1)) + str-slice($string, 2);

@each $name, $colors in $gradients
    .Gradient--#{capitalize($name)}
        background: #{nth(map-get($gradients, $name), 1)}
        background: -moz-linear-gradient(-45deg, #{nth(map-get($gradients, $name),1)} 0%, #{nth(map-get($gradients, $name),2)} 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, #{nth(map-get($gradients, $name),1)}), color-stop(100%, #{nth(map-get($gradients, $name),2)}));
        background: -webkit-linear-gradient(-45deg, #{nth(map-get($gradients, $name),1)} 0%, #{nth(map-get($gradients, $name),2)} 100%);
        background: -o-linear-gradient(-45deg, #{nth(map-get($gradients, $name),1)} 0%, #{nth(map-get($gradients, $name),2)} 100%);
        background: -ms-linear-gradient(-45deg, #{nth(map-get($gradients, $name),1)} 0%, #{nth(map-get($gradients, $name),2)} 100%);
        background: linear-gradient(135deg, #{nth(map-get($gradients, $name),1)} 0%, #{nth(map-get($gradients, $name),2)} 100%);
