$spaceAmounts: (0,5,10,15,20,25,30,35,40,45,50,75,90,100,200) !default
$sides: ('top','right','bottom','left') !default

//|--------------------------------------------------------

.width-40
    width: 40px
    min-width: 40px

.orange-background
    background-color: $orange

.is-absolute
    position: absolute

.iPhone
    position: absolute
    right: 0

.float-right-md
    +media-breakpoint-up(md)
        float: right

.flex-full
    flex: 1

.flex-3
    flex: 1 0 100%
    +media-breakpoint-up(sm)
        flex: 1 0 40%
        max-width: 50%
    +media-breakpoint-up(md)
        flex: 1 0 30%
        max-width: 32%
    +media-breakpoint-up(lg)
        flex: 1 0 20%
        max-width: 24%

.text
    &-is
        &-orange
            color: $orange
        &-red-orange
            color: $red-orange
        &-centered
            text-align: center
        &-bold
            font-weight: bold

    &-allow-wrap
        white-space: normal

.img-full-width
    img
        width: 100%
        height: auto

.is-circle
    border-radius: 50%

.overflow-hidden
    overflow: hidden

.is-perfect-square
    position: relative
    &::after
        content: ""
        display: block
        padding-bottom: 100%
    .inner-square
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0

.has-shadow
    box-shadow: 0px 4px 24px rgba(0,0,0,0.2)

.has-shadow--light
    box-shadow: 0px 4px 14px rgba(0,0,0,0.1)

.has-border
    border: 4px solid $white

.seperator
    display: block
    width: 120px
    margin: 20px auto
    background-color: $orange
    height: 2px


@each $space in $spaceAmounts
    .m-#{$space}
        margin: #{$space}px
    .p-#{$space}
        padding: #{$space}px
    @each $side in $sides
        .m-#{str-slice($side, 0, 1)}-#{$space}
            margin-#{$side}: #{$space}px
        .p-#{str-slice($side, 0, 1)}-#{$space}
            padding-#{$side}: #{$space}px


