.jumbotron
    border-radius: 0

    h1
        font-size: 3em

    &.city-background
        background-image: url('/img/Background--City.png')
        background-size: cover
        background-repeat: no-repeat
        background-position: center

    img
        width: 100%
        height: auto

    +media-breakpoint-up(md)
        &.hero .row
            margin-bottom: -200px
        &.with-overflow .row
            margin: -110px 0
