.navbar
    // padding: 0
    +media-breakpoint-down(sm)
        padding-top: 10px
        padding-bottom: 10px

.navbar-brand
    padding: 0

.navbar-nav
    .btn-primary
        border-radius: 50px
        +media-breakpoint-up(md)
            margin: 10px

.navbar-nav-flex-end
    +media-breakpoint-up(md)
        display: flex
        flex: 1 1
        justify-content: flex-end
        height: 100%

.nav-item
    display: flex
    flex-direction: column
    border-top: 4px solid transparent
    text-transform: uppercase
    letter-spacing: 1px
    +media-breakpoint-up(md)
        font-size: .7em
        text-align: center
        &:hover
            border-top: 4px solid $orange
        a
            display: flex
            flex: 1
            justify-content: center
            align-items: center
            padding: 2em 0
    +media-breakpoint-up(lg)
        font-size: .8em
